<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>Static App</title>
    </head>

    <body>
        <header>
            <ul>
                <li><a href="{% url 'index' %}">Index</a></li>
                <li><a href="{% url 'create' %}">New Blog</a></li>
            </ul>
        </header>
        <div class="main">
            {% for blog in data %}
            <h1>{{ blog.title }}</h1>
            <h2>{{ blog.content }}</h2>
            <a href="{% url 'detail' blog.id %}">Detail</a>
            <a href="{% url 'edit' blog.id %}">Edit</a>
            <a href="{% url 'delete' blog.id %}">Delete</a>
            {% endfor %}
        </div>
        <footer>
            <p>運営会社 DIVE INTO CODE 株式会社</p>
            <p>© 2022-2023 DIVE INTO CODE Corp.</p>
        </footer>
    </body>

</html>
